
@font-face {
    font-family: "MontserratSemiBoldItalic";
    src: url("./Montserrat/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
    font-family: "MontserratItalic";
    src: url("Montserrat/Montserrat-Italic.ttf");
}
@font-face {
    font-family: "MontserratSemiBold";
    src: url("Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("./Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "MontserratBoldItalic";
    src: url("Montserrat/Montserrat-BoldItalic.ttf");
}

body {
    background-color: rgb(127, 127, 250);
}
h1 {
    color: rgb(127, 127, 250);
    text-align: center;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'MontserratBold';
}

td  {

    box-shadow:3px -1px 6px 1px rgba(0, 0, 0, 0.23);
}
td:hover {
    background-color: rgb(127, 127, 250);
}

#sousTable {
    margin: 10px;
    
}
table {
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

#tableTitles {
    font-family: 'MontserratSemiBold';
}
#allTable {
    float: left;
    margin-left: 80px;
}

#myTable tr {
    font-family: 'MontserratItalic';
}
#tableTitle {
    background-color: rgba(127, 127, 250, 0.26);
}

.listPuce {
    float: right;
    text-align: center;
    width: 329px;
    color: rgb(0, 0, 0);
    margin-right: 53px;
}
.tableClass {
    /* margin-left: auto;
    margin-right: auto; */
}

.listPuce h1 {
    color: rgb(127, 127, 250);
    font-family: 'MontserratSemiBold';
    font-size: 24px;
}

#listInfoAfrica li{
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    font-family: 'MontserratItalic';
}
#listInfoAfrica {
    list-style: square;
}